*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.base{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    color:white;
    background-color: #0B111B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index:1000 ;
}

nav{
    display:flex;
    gap: 5px;
    height: auto;
}
nav a{
    font-size: 13px;
    background-color: #B32635;
    color:white;
    border-radius: 6px;
    padding: 10px;
    text-decoration-line: none;
}
nav a:hover{
    background-color: #DC3545;
}
nav a:active{
    background-color: #781722;
}
header h2{
    display: flex;
    justify-content: space-between;
}

.hamburguer{
    display: none;
}

#main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #0B111B;
    color:white;
    padding: 15px;
    height:auto;
    flex: 1;
}

.home{
    display: flex;
    flex-direction: column;
    gap:10px;
    height: auto;
    background-color: #263E59;
    padding:20px;
    border-radius: 6px;
    width: 100%;
    color: white;
}

main #fotografias{
    display:flex;
    justify-content: center;
    height: 45vh;
}
main #fotografias img{
    width: 33%;
    height: 100%;
    object-fit: cover;
}
footer{
    background-color: #0B111B;
    color: white;
    padding:15px;
}

#main-loc{
    flex: 1;
    display:flex;
    gap: 10px;
    background-color: #0B111B;
    padding: 15px;
    align-items: flex-start;
}
#mapa{
    width: 100%;
}
#main-loc #mapa iframe{
        max-width: 100%;
        width: 100%;

}
#body-info{
    display:flex;
    flex-direction: column;
}
#body-info main{
    background-color: #0B111B;
    color: white;
    flex: 1;
}

#imagem img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    object-position: center;
}

#main-info #text{grid-area: t;}
#main-info #table{grid-area: td;}
#main-info #factos{grid-area: f;
                color:white}
#main-info #imagem{grid-area: i;
                max-width: 100%;}

#main-info{
    background-color: #0B111B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    't td'
    'i f ';
}

main{
    gap: 20px;
    background-color: #0B111B;
    color:white;
    padding: 15px;
    height:auto;
}

#multimedia header{
    height: auto;
}
#multimedia main{
    padding: 0px;
}

#multimedia main nav a{
    background-color: #C69A50;
    font-size: 20px;
}

#multimedia main nav a:hover{
    background-color: #DEB56D;
}

#multimedia main nav a:active{
    background-color: #967239;
}


#title{
    font-size: 30px;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5)
        ),url(images/imagem_emblematica.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size:cover;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    gap:10px;
}


#fotos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height:100vh;
    padding: 20px;
    scroll-margin-top: 50px;
}

#fotos-layout img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

#fotos-layout #um{grid-area: u;}
#fotos-layout #dois{grid-area: d;}
#fotos-layout #tres{grid-area: t;}
#fotos-layout #quatro{grid-area: q;}
#fotos-layout #cinco{grid-area: c;}
#fotos-layout #seis{grid-area: s;}
#fotos-layout #sete{grid-area: st;}
#fotos-layout #oito{grid-area: o;}

#fotos-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas:
    'u d t q'
    'c s st o';

    gap: 10px;
}

#video{
    height:100vh;
    padding: 20px;
    scroll-margin-top: 50px;
}

#poesia{
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5)
        ),url(images/imagem_emblematica.jpg);
    background-attachment: fixed;
    background-size:cover;
    position:relative;
    height:100vh;
    padding: 20px;
    scroll-margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

#poesia div p:nth-child(4) {
    margin-top: 25px;
}

#poesia h1,
#poesia p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

#video {
    height: 100vh;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#video video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.video-texto {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 20px;
    padding: 20px;
    color: white;

    text-shadow: 2px 2px 6px black;
}

.video-texto h2 {
    font-size: 50px;
}

.video-texto a {
    background-color: #C69A50;
    color: white;

    padding: 15px 25px;
    border-radius: 6px;
    text-decoration: none;
}

.video-texto a:hover {
    background-color: #DEB56D;
}

@media (max-width:600px){
    header, header nav{
        flex-direction: column;
    }
    header nav{
        display:none;
    }
    header:hover nav{
        width: 100%;
        display:flex;
    }
    .hamburguer{
        display:block;
    }
    header h1{
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    #main-index #fotografias{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    #main-index #fotografias img{
        height: 200px;
        width: 100%;
        object-position: center;
    }

    #main-loc{
        flex-direction: column;
        align-items: center;
    }

    #main-info{
        display: flex;
        flex-direction: column;
    }

    #fotos {
        height: auto;
        min-height: 100vh;
    }
    #fotos-layout{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #fotos-layout img {
        width: 100%;
        height: 220px;
        flex: none;
        object-fit: cover;
    }
}
